In [1]:
%ls

Assignment 2/
Assignment 2.zip
Assignment 2_ two probability based models.docx
Untitled.ipynb
assign2_BNdata.txt
assign2_umbrella.txt
~$signment 2_ two probability based models.docx

In [4]:
import pandas as pd

In [22]:
a = pd.read_csv('assign2_umbrella.txt',sep = '\t')
print(a.shape)
a.head()

(99, 2)

   day 1    no umbrella
0  day 2  take umbrella
1  day 3  take umbrella
2  day 4  take umbrella
3  day 5  take umbrella
4  day 6    no umbrella

In [19]:
b = pd.read_csv('assign2_BNdata.txt',sep = '\t')
print(b.shape)
b.head()

(683, 6)

   sample-id  a  b  c  d  e
0          1  1  1  1  1  1
1          2  1  2  1  2  1
2          3  1  1  1  1  1
3          4  1  3  1  1  2
4          5  1  1  1  1  1

In [17]:
b[['a','b','c','d','e']].nunique()

a    2
b    3
c    3
d    2
e    2
dtype: int64

In [23]:

import numpy as np

def get_p_b_cd():
    # you need to implement this method.
    p_b_cd = np.zeros((3,3,2),dtype = np.int)
    return p_b_cd

def get_p_a_be():
    # you need to implement this method.
    p_a_be = np.zeros((2,3,2),dtype = np.int)
    return p_a_be


# following lines are main function:
data_add = "data//assign2_BNdata.txt"

# probability distribution of b.
p_b_cd=get_p_b_cd()
for c in range(3):
    for d in range(2):
        for b in range(3):
            print("P(b=" + str(b+1) + "|c=" + str(c+1) + ",d=" + str(d+1) + ")=" + str(p_b_cd[b][c][d]))


# probability distribution of a.
p_a_be=get_p_a_be()
for b in range(3):
    for e in range(2):
        for a in range(2):
            print("P(a=" + str(a+1) + "|b=" + str(b+1) + ",e=" + str(e+1) + ")=" + str(p_a_be[a][b][e]))

P(b=1|c=1,d=1)=0
P(b=2|c=1,d=1)=0
P(b=3|c=1,d=1)=0
P(b=1|c=1,d=2)=0
P(b=2|c=1,d=2)=0
P(b=3|c=1,d=2)=0
P(b=1|c=2,d=1)=0
P(b=2|c=2,d=1)=0
P(b=3|c=2,d=1)=0
P(b=1|c=2,d=2)=0
P(b=2|c=2,d=2)=0
P(b=3|c=2,d=2)=0
P(b=1|c=3,d=1)=0
P(b=2|c=3,d=1)=0
P(b=3|c=3,d=1)=0
P(b=1|c=3,d=2)=0
P(b=2|c=3,d=2)=0
P(b=3|c=3,d=2)=0
P(a=1|b=1,e=1)=0
P(a=2|b=1,e=1)=0
P(a=1|b=1,e=2)=0
P(a=2|b=1,e=2)=0
P(a=1|b=2,e=1)=0
P(a=2|b=2,e=1)=0
P(a=1|b=2,e=2)=0
P(a=2|b=2,e=2)=0
P(a=1|b=3,e=1)=0
P(a=2|b=3,e=1)=0
P(a=1|b=3,e=2)=0
P(a=2|b=3,e=2)=0

In [24]:
def filtering(evidence_data_add, prior, total_day):
    # you need to implement this method.

    x_prob_rain = []
    # x_prob_sunny[i] = 1 - x_prob_rain[i]

    for i in range(100):
        x_prob_rain.append(0.0)
        
    return x_prob_rain




# following lines are main function:
evidence_data_add = "data//assign2_umbrella.txt"
total_day = 100
# the prior distribution on the initial state, P(X0). 50% rainy, and 50% sunny on day 0.
prior = [0.5, 0.5]

x_prob_rain=filtering(evidence_data_add, prior, total_day)
for i in range(100):
    print("Day " + str(i+1) + ": rain " + str(x_prob_rain[i]) + ", sunny " + str(1 - x_prob_rain[i]))

Day 1: rain 0.0, sunny 1.0
Day 2: rain 0.0, sunny 1.0
Day 3: rain 0.0, sunny 1.0
Day 4: rain 0.0, sunny 1.0
Day 5: rain 0.0, sunny 1.0
Day 6: rain 0.0, sunny 1.0
Day 7: rain 0.0, sunny 1.0
Day 8: rain 0.0, sunny 1.0
Day 9: rain 0.0, sunny 1.0
Day 10: rain 0.0, sunny 1.0
Day 11: rain 0.0, sunny 1.0
Day 12: rain 0.0, sunny 1.0
Day 13: rain 0.0, sunny 1.0
Day 14: rain 0.0, sunny 1.0
Day 15: rain 0.0, sunny 1.0
Day 16: rain 0.0, sunny 1.0
Day 17: rain 0.0, sunny 1.0
Day 18: rain 0.0, sunny 1.0
Day 19: rain 0.0, sunny 1.0
Day 20: rain 0.0, sunny 1.0
Day 21: rain 0.0, sunny 1.0
Day 22: rain 0.0, sunny 1.0
Day 23: rain 0.0, sunny 1.0
Day 24: rain 0.0, sunny 1.0
Day 25: rain 0.0, sunny 1.0
Day 26: rain 0.0, sunny 1.0
Day 27: rain 0.0, sunny 1.0
Day 28: rain 0.0, sunny 1.0
Day 29: rain 0.0, sunny 1.0
Day 30: rain 0.0, sunny 1.0
Day 31: rain 0.0, sunny 1.0
Day 32: rain 0.0, sunny 1.0
Day 33: rain 0.0, sunny 1.0
Day 34: rain 0.0, sunny 1.0
Day 35: rain 0.0, sunny 1.0
Day 36: rain 0.0, sunny 1.0
Day 37: rain 0.0, sunny 1.0
Day 38: rain 0.0, sunny 1.0
Day 39: rain 0.0, sunny 1.0
Day 40: rain 0.0, sunny 1.0
Day 41: rain 0.0, sunny 1.0
Day 42: rain 0.0, sunny 1.0
Day 43: rain 0.0, sunny 1.0
Day 44: rain 0.0, sunny 1.0
Day 45: rain 0.0, sunny 1.0
Day 46: rain 0.0, sunny 1.0
Day 47: rain 0.0, sunny 1.0
Day 48: rain 0.0, sunny 1.0
Day 49: rain 0.0, sunny 1.0
Day 50: rain 0.0, sunny 1.0
Day 51: rain 0.0, sunny 1.0
Day 52: rain 0.0, sunny 1.0
Day 53: rain 0.0, sunny 1.0
Day 54: rain 0.0, sunny 1.0
Day 55: rain 0.0, sunny 1.0
Day 56: rain 0.0, sunny 1.0
Day 57: rain 0.0, sunny 1.0
Day 58: rain 0.0, sunny 1.0
Day 59: rain 0.0, sunny 1.0
Day 60: rain 0.0, sunny 1.0
Day 61: rain 0.0, sunny 1.0
Day 62: rain 0.0, sunny 1.0
Day 63: rain 0.0, sunny 1.0
Day 64: rain 0.0, sunny 1.0
Day 65: rain 0.0, sunny 1.0
Day 66: rain 0.0, sunny 1.0
Day 67: rain 0.0, sunny 1.0
Day 68: rain 0.0, sunny 1.0
Day 69: rain 0.0, sunny 1.0
Day 70: rain 0.0, sunny 1.0
Day 71: rain 0.0, sunny 1.0
Day 72: rain 0.0, sunny 1.0
Day 73: rain 0.0, sunny 1.0
Day 74: rain 0.0, sunny 1.0
Day 75: rain 0.0, sunny 1.0
Day 76: rain 0.0, sunny 1.0
Day 77: rain 0.0, sunny 1.0
Day 78: rain 0.0, sunny 1.0
Day 79: rain 0.0, sunny 1.0
Day 80: rain 0.0, sunny 1.0
Day 81: rain 0.0, sunny 1.0
Day 82: rain 0.0, sunny 1.0
Day 83: rain 0.0, sunny 1.0
Day 84: rain 0.0, sunny 1.0
Day 85: rain 0.0, sunny 1.0
Day 86: rain 0.0, sunny 1.0
Day 87: rain 0.0, sunny 1.0
Day 88: rain 0.0, sunny 1.0
Day 89: rain 0.0, sunny 1.0
Day 90: rain 0.0, sunny 1.0
Day 91: rain 0.0, sunny 1.0
Day 92: rain 0.0, sunny 1.0
Day 93: rain 0.0, sunny 1.0
Day 94: rain 0.0, sunny 1.0
Day 95: rain 0.0, sunny 1.0
Day 96: rain 0.0, sunny 1.0
Day 97: rain 0.0, sunny 1.0
Day 98: rain 0.0, sunny 1.0
Day 99: rain 0.0, sunny 1.0
Day 100: rain 0.0, sunny 1.0